streamlit
pandas
requests
beautifulsoup4
selenium
webdriver-manager
boto3
plotly
streamlit-autorefresh
streamlit-folium
folium
flask
fastapi==0.115.0
uvicorn==0.32.0
playwright==1.48.0
python-dotenv==1.0.1
httpx==0.27.2
gunicorn==23.0.0
